SupplierDemo.WebUI/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65329/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SupplierDemo.StockServices.Model" />
  <xs:element name="GetStocks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStocksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SupplierDemo.StockServices.Model" minOccurs="0" name="GetStocksResult" nillable="true" type="q1:MainVM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>