SupplierDemo.WebUI/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65329/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65329/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65329/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SupplierDemo.StockServices.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetStocks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStocks" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStocks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStocksResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOnlyStock_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOnlyStock" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOnlyStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOnlyStockResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateStock_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStock" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStockResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetStocks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStocks" message="tns:IService1_GetStocks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStocksResponse" message="tns:IService1_GetStocks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOnlyStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetOnlyStock" message="tns:IService1_GetOnlyStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetOnlyStockResponse" message="tns:IService1_GetOnlyStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateStock" message="tns:IService1_UpdateStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateStockResponse" message="tns:IService1_UpdateStock_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WcfEndPoint" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStocks">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStocks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOnlyStock">
      <soap:operation soapAction="http://tempuri.org/IService1/GetOnlyStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStock">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="WcfEndPoint" binding="tns:WcfEndPoint">
      <soap:address location="http://localhost:65329/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>