SupplierDemo.WebUI/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SupplierDemo.StockServices.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SupplierDemo.StockServices.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MainVM">
    <xs:sequence>
      <xs:element minOccurs="0" name="Stock" nillable="true" type="tns:ArrayOfStockVM" />
      <xs:element minOccurs="0" name="Supp" nillable="true" type="tns:ArrayOfSupplierVM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MainVM" nillable="true" type="tns:MainVM" />
  <xs:complexType name="ArrayOfStockVM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StockVM" nillable="true" type="tns:StockVM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStockVM" nillable="true" type="tns:ArrayOfStockVM" />
  <xs:complexType name="StockVM">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="Quatity" type="xs:int" />
      <xs:element minOccurs="0" name="StockId" type="xs:int" />
      <xs:element minOccurs="0" name="SupplierId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockVM" nillable="true" type="tns:StockVM" />
  <xs:complexType name="ArrayOfSupplierVM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupplierVM" nillable="true" type="tns:SupplierVM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplierVM" nillable="true" type="tns:ArrayOfSupplierVM" />
  <xs:complexType name="SupplierVM">
    <xs:sequence>
      <xs:element minOccurs="0" name="SupplierId" type="xs:int" />
      <xs:element minOccurs="0" name="SupplierName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupplierVM" nillable="true" type="tns:SupplierVM" />
</xs:schema>