SupplierDemo.WebUI/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65329/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SupplierDemo.StockServices.Model" />
  <xs:element name="GetStocks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStocksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SupplierDemo.StockServices.Model" minOccurs="0" name="GetStocksResult" nillable="true" type="q1:MainVM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnlyStock">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnlyStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SupplierDemo.StockServices.Model" minOccurs="0" name="GetOnlyStockResult" nillable="true" type="q2:ArrayOfStockVM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stockId" type="xs:int" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SupplierDemo.StockServices.Model" minOccurs="0" name="UpdateStockResult" nillable="true" type="q3:ArrayOfStockVM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>